body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    background: url('p7.jpg') no-repeat center center/cover;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.featured-products, .product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex: 1 0 21%; /* Adjust the width of the product boxes */
    box-sizing: border-box;
}

.product img {
    width: 200px;
    height: 200px; 
    object-fit: cover;
}

img{
    width: 200px;
    height: 200px; 

}

.contact-form {
    padding: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

.contact-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px 0;
}
